
/*This applies from 0px to 760px */
*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	}
h1 {
	font-size: 4rem;
	padding: 10px 0px;
	}
h2 {
	font-size: 3rem;
	padding: 10px 0px;
	font-weight: 400;
	}
h3 {
	font-size: 2rem;
	line-height: 3rem;
	}
h4 {
	font-size: 1.2rem;
	}
p {
	font-size: 1rem;
	padding: 5px 0px;
	}
.background-color1 {
    background-color: #222;
	}
.body-container {
    max-width: 1200px;
	margin: 0 auto;
}
.menu > div{
	padding: 10px;
	align-items: center;
}
.logo{
	background-color: #c78c06;
}
.logo img{
	height: 60px;
}
a{
	text-decoration: none;
}
li a{
	color: #c78c06;
	line-height: 3rem;
}
ul li:nth-child(1){
	background-color: #c78c06;
	color: #222;
}
ul li:nth-child(1) a{
	color: #222;
}
ul li, form{ 
	width: 100%;
	text-align: center;
}
.menu form{
	display: flex;
	flex-direction: row;
}
.menu form input{
	flex-grow: 1;
	line-height: 2rem;
}

.menu form div{
	width: 2rem;
	font-size: 1.5rem;
	line-height: 2rem;
	border:1px #c78c06 solid;
	color: #c78c06;
}
header{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
	background-image: url(../images/main-banner.jpg);
	padding: 40px 0px 30px 0px;
}
.banner-text{
		background-color: rgba(0,0,0,0.7);
		color: white;
		padding: 20px;
}
.icon2 {
	display: inline-block;
	background-color: #c78c06;
	color: black;
	font-size: 1.2rem;
	line-height: 4rem;
	padding: 0 20px;
}
.icon2 a{color: #222;}
.about-us{
	background-color: #ffe6ac;
}
.about-us  div{
	padding: 10px;
}
.about-us img{
	width: 100%;
}
.our-services .os{
	background-color: #ffe6ac;
	margin: 10px;
}
.our-services .os img{
	width: 100%;
}
.our-services .os div{
	padding: 10px;
}
.icon3{
	display: inline-block;
	font-size: 1.2rem;
	line-height: 3rem;
	text-align: center;
	background-color: #222;
	padding: 0px 30px;
	margin-top: 10px;

}
.icon3 i, .icon3 a{
	color: white;
}
.vision{
	color: white;
	background-image: url(../images/vision.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.vision > div{

	padding: 20px 10px;
}

.vision button{
	font-size: 1.2rem;
	line-height: 3rem;
	padding: 0px 15px;
	background-color: #222;
	color: white;
	border: 1px solid #c78c06;
}
.vision button a{
	color: white;
}
.team-info{
	background-color: #ffe6ac;
	margin: 0 10px;
}
.team-info img{
	width: 100%;
}
.team-info > div{
	padding: 10px;
	margin: 10px;
}
.team-info h4{
	border-bottom: 2px #c78c06 solid;
}
#contact-us > div {
	padding: 10px;
	width: 100%;
}
#contact-us form{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 10px;
	line-height: 2rem;
}
#contact-us label, #contact-us input{
	height: 2rem;
}
#contact-us button{
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin: 10px 0px;
	display: inline-block;
	width: auto;
}
table{
	line-height: 2rem;
}
thead{
	background-color:#FFE6AC;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.table{
	padding: 10px;
}
table{
	width: 100%;
}
table caption{
	text-align: left;
}

tbody tr{
    text-indent: 10px;
    text-align: left;
}
.location iframe{
	width: 100%;
}
footer{
	font-size: 1rem;
	line-height: 2rem;
	background-color: #222;
	color: #c78c06;
	padding: 20px;
}
footer a{
	color: #c78c06;
	text-decoration: underline;
}
/* this style applies from 760px and above it */
@media screen and (min-width:760px){
	.menu > div {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	ul{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	nav{
		width: 100%;
		margin: 0 20px 0 20px;
	}
	.menu form{
		width: auto;
	}
	.about-us > div { 
		display: flex;
		flex-direction: row;
	}
	.about-us img{
		width: 50%;
	}
	.our-services{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: 
		"os1 os1 os1 os2 os2 os2"
		"os3 os3 os4 os4 os5 os5";
	}
	.icon3{
		display: block;
	}
	.our-services .os:nth-child(1){
		grid-area: os1;}
	.our-services .os:nth-child(2){
		grid-area: os2;}
	.our-services .os:nth-child(3){
		grid-area: os3;}
	.our-services .os:nth-child(4){
		grid-area: os4;}
	.our-services .os:nth-child(5){
		grid-area: os5;}
	#team .t1{
		display: flex;
		flex-direction: row;
	}
	#team .t2{
		display: flex;
		flex-direction: row-reverse;
	}
	#team .team-info img{
		width: 50%;
	}
	.team-info{
		margin: 0;
		padding: 0;
	}
	.contact-grid{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-areas: 
		"me lo"
		"hop hop";
	}
	#contact-us{
		grid-area: me;
	}
	.location{
		grid-area: lo;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.location iframe{
		flex-grow: 1;
	}
	.table{
		grid-area: hop;
		width: 100%;
	}
}
  